.dropdown-container {
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 3;
    height: 50px;
    width: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .hamburger-icon .line {
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #007bff;
    color: white;
  }
  